<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/tether.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>ReactJS + Spring Data REST</title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Discipline</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/habit}">Habits</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search example</button>
        </form>
    </div>
</nav>

<div class="container" id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>