<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/tether.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/main.css"/>


<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content="TcoiOleg"/>

    <title>Log in with your account</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Discipline</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/react}">React example</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled example</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search example</button>
        </form>
    </div>
</nav>

<div class="container">
    <!--/*@thymesVar id="userForm" type="com.olts.discipline.model.User"*/-->
    <form method="POST" action="#" class="form-signin" th:object="${userForm}" th:action="@{/login}">
        <h2 class="form-heading">Log in</h2>
        <div class="form-group has-error">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username" autofocus="autofocus"
                   th:field="${userForm.username}"/>
            <input name="password" type="password" class="form-control" placeholder="Password"
                   th:field="${userForm.password}"/>
            <span th:text="${error}"> </span>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
        </div>
    </form>
</div>
</body>
</html>