<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="libraries/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="libraries/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="css/scroll.css"/>
<link rel="stylesheet" type="text/css" href="css/dashboard.css"/>
<!-- todo stylesheets doesn't work -->
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Discipline</title>
</head>
<style media="screen" type="text/css">

    body {
        min-height: 2000px;
        padding-top: 70px;
    }

</style>
<div class='thetop'></div> <!-- for scrolling -->
<body>

<!-- react start -->
<div id="user_habits"></div>
<!-- react end -->

</body>
<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
<script type="text/javascript" src="libraries/js/jquery.min.js"></script>
<script type="text/javascript" src="libraries/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/scroll.js"></script>
<script id="react_built" type="text/javascript" src="built/bundle.js"></script>
</html>