<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello React</title>
    <script type="text/javascript" th:src="@{vendor/react.js}"></script>
    <script type="text/javascript" th:src="@{vendor/showdown.min.js}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>
<div id="content"><th:block>${content}</th:block> </div><!--not working-->
<script type="text/javascript" th:src="@{commentBox.js}"></script>
<script type="text/javascript">
    $(function () {
        renderClient(${data});
    });
</script>
</body>
</html>